<div class="container">
    <ng-container *ngIf="dataForRendering.length; else loading">
        <h3 class="display-6 mt-5 mb-3">{{tableDescription}}</h3>

        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let columnName of columnNames">{{columnName}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataForRendering">
                    <td 
                        *ngFor="let dataColumn of dataColumns"
                        [ngClass]="{ 'table-danger': item.emphasize }"
                    >
                        <ng-container *ngIf="dataColumn.toLowerCase() !== 'action'; else actionButton">
                            {{getValueHelper(item, dataColumn)}}
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>

<ng-template #actionButton>
    <button class="btn btn-sm btn-secondary mx-1">Edit</button>
</ng-template>

<ng-template #loading>
    <p class="text-secondary lead">Loading table</p>
</ng-template>